body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('mobilebackground.jpg');
/*    background-repeat: no-repeat;*/
    background-attachment: fixed;
    background-size: 100% 100%;
}
/* For width 500px and larger: */
@media only screen and (min-width: 500px) {
  body {
    background-image: url('aboutbackground.jpg');
     background-attachment: fixed;
    background-size: 100vw auto;
  }
}
/*@media (max-width: 600px) {
    .footer-main {
        width: 100%;
        margin-bottom: 20px;
    }
}*/
header {
    background-color: #2F539B;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96.3vw;
}

.logo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
/*    margin-top: 200;*/
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    text-decoration: underline;
}

.profile {
    position: relative;
}

.profile img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.profile .dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-right: 20px;
    display: none;
}
.profile:hover .dropdown,
.profile:focus .dropdown {
    display: block;
}
.dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: none;
}

.dropdown.show {
    display: block;
}


main {
    padding: 20px;
}
.slider {
  width: 100%;
  height: 50px;
  position: relative;
}
footer {
    background-color: #2F539B;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 96.3vw;
}

.search-bar {
    text-align: center;
    margin-bottom: 20px;
    margin-right: 200px;
}

.search-bar input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.about-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}


@media (max-width: 500px) { /* Targeting mobile screens up to 500px width */
    header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo img{
   margin-left: 0%;
}
.logo {
  margin-top: 20px; /* Adjust margin as needed */
}

.search-bar {
  margin-top: 20px; /* Adjust margin as needed */
  margin-left: 50%;
}
.search-bar button{
    margin-top: 10px;
}
.navbar {
  margin-top: 20px; /* Adjust margin as needed */
/*  margin-left: 20px;*/
}
nav ul li {
    display: inline-block;
    margin-top: 10%;
    margin-left: 35%;
}

.profile {
  margin-top: 20px; /* Adjust margin as needed */
  margin-left: 5%;
}
  

}




